.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.certification {
  display: flex;
  align-items: center;
  gap: 3rem;
}
