.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h1 {
    margin-bottom: 1rem;
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 3rem;

  > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 3rem;
  }
}

.skills,
.certificates {
  height: 100%;
  padding: 3rem;
  gap: 3rem;
  box-shadow: 0 0 0 1px var(--text-700);
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}

.certificates,
.certificates a {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.badge {
  width: 10rem;
  height: 10rem;
}
