.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.skills {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.column {
  width: 25rem;
  height: 40rem;
  background-color: gray;
}
