.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

// Swiper

.bullet {
  width: 1rem;
  height: 1rem;
  background-color: var(--bg-300);
  opacity: 1;
}

.bulletActive {
  border: 1px solid var(--bg-300);
  background-color: var(--bg-theme-secondary);
}
