.container {
  position: relative;
}

.info {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 3rem;

  ul {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    gap: 1rem;
  }

  li {
    list-style: disc;
  }
}

.image {
  width: 100%;
  max-width: 50rem;
  margin-left: auto;
  background-color: gray;
  aspect-ratio: 1/1;
  z-index: -1;
}
