.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.buttons {
  display: flex;
  gap: 2rem;

  button {
    padding: 1rem 2rem;
    border-radius: 5px;
    color: var(--bg-theme-primary);
    background-color: var(--text-theme-primary);
  }
}
