.modal {
  position: fixed;
  inset: 0;
  color: var(--text-theme-secondary);
  background-color: var(--bg-theme-secondary);
  transition: transform 300ms ease-in-out;
  z-index: 1;
}

.close {
  position: absolute;
  right: 0;
  width: 5rem;
  height: 5rem;
  margin: 2rem 2rem 0 0;
  cursor: pointer;
}

.enter {
  transform: scale(0);
}

.enterActive {
  transform: scale(1);
}

.exit {
}

.exitActive {
  transform: scale(0);
}
