@import '../index.module.scss';

.carousel {
  flex: 1 1 30%;
  width: 50%;
}

.image {
  position: relative;
  border: 1px solid var(--text-700);
  aspect-ratio: 3/2;

  > *:first-of-type {
    position: absolute;
    inset: 0;
  }

  > *:last-of-type {
    opacity: 0;
    transition: opacity 300ms ease-out;
  }

  &:hover > *:last-of-type {
    opacity: 1;
  }
}
