.container {
  position: relative;
  display: flex;
  justify-content: center;

  > svg {
    width: 5rem;
    height: 5rem;
  }

  &::after {
    position: absolute;
    content: attr(data-label);
    top: 100%;
    padding: 1rem;
    margin-top: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    color: var(--text-theme-secondary);
    background-color: var(--bg-theme-secondary);
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-out;
  }

  &:hover::after {
    opacity: 1;
  }
}
