.container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;

  > svg {
    width: 4rem;
    height: 4rem;
  }

  &::after {
    content: attr(data-label);
    padding: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}
