.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;

  svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}
