.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.link {
  display: flex;
  align-items: center;
  width: max-content;
  margin-left: auto;
  gap: 1rem;
  font-size: larger;

  svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}
