.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 160rem;
  min-height: 100vh;
  padding: 6rem 6rem 6rem 14rem;
  margin: auto;
  margin-bottom: 20rem;
  font-size: 1.8rem;
  overflow: hidden;

  &:last-of-type {
    margin-bottom: 0;
  }
}

@media (max-width: 700px) {
  .section {
    padding: 8rem 4rem;
  }
}
