.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 140rem;
  min-height: 100vh;
  padding: 6rem 6rem 6rem 14rem;
  margin: auto;
}

@media (max-width: 700px) {
  .section {
    padding: 8rem 4rem;
  }
}
