.button {
  height: 5rem;
  padding: 0 3rem;
  cursor: pointer;
  border-radius: 5px;
  color: var(--bg-theme-primary);
  background-color: var(--text-theme-primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: all 200ms ease-out;

  &.wide {
    width: 100%;
  }

  &.success {
    color: var(--text-900);
    background-color: #009c00;
  }

  &:not(:disabled):hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-0.5rem);
  }

  &:not(:disabled):active {
    transform: translateY(-0.2rem);
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--text-700);
    background-color: var(--bg-700);
  }
}
