.button {
  padding: 1rem 3rem;
  // font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  color: var(--bg-theme-primary);
  background-color: var(--text-theme-primary);
}
